---
---
/*text-shadow: 2px 2px 10px grey;*/
/*-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;*/



@import "reset";

@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
header {
  box-shadow: 0 0 10px $shadowcolor;
  .container {
    padding: 3% 3% 5%;
    margin: 0 auto;
    .stlogo {
      padding: 1rem 0;
      img {
        max-width: 156px;
        max-height: 109px;
        display: block;
        margin: 0 auto;
      }
    }
    .stnav {
      ul {
        li {
          list-style: none;
          display: block;
          margin: 3rem auto;
          letter-spacing: 0.5rem;
          text-indent: .5rem;
          text-align: center;
          a {
            text-decoration: none;
            color: $fontcolor;
            text-shadow: 2px 2px 10px grey;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
          }
          a:hover {
            text-shadow: 2px 2px 10px white;
          }
        }
      }
    }
    .social-sites {
      margin: 3rem auto 1rem;
      ul {
        text-align: center;
        li {
          list-style: none;
          display: inline-block;
          a {
            text-decoration: none;
            i {
              text-shadow: 2px 2px 10px grey;
              color: $lowkeyc;
              margin: 0 0.5rem;
              font-size: 1.5rem;
              text-rendering: optimizeLegibility;
              -webkit-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
            }
            i:hover {
              color: $fontcolor;
              text-shadow: 2px 2px 10px white;
            }
          }
        }
      }
    }
  }
}

main {
  padding: 5% 3% 5%;
  article {
    padding: 5%;
    .post-title, .poe-title {
      font-size: 2rem;
      margin-bottom: 1rem;
      line-height: 2.5rem;
      color: $titlecolor;
      text-shadow: 2px 2px 10px grey;
    }
    .post-date, .poe-date {
      font-size: .8rem;
      color: $lowkeyc;
      margin: 1rem auto ;
      text-shadow: 2px 2px 10px grey;
    }
    .post-content, .poe-content {
      letter-spacing: 0.1rem;
      line-height: 1.5rem;
      p {
        margin: 1rem auto;
        color: $contentcolor;
        font-weight: 500;
      }
    }
  }
  .page-index {
    text-align: center;
    padding: 0 5%;
    max-width: 20rem;
    margin: 0 auto;
    span {
      list-style: none;
      display: block;
      background-color: $postlistbgc;
      margin: 1rem auto 1.5rem;
      padding: 3%;
      position: relative;
      a {
        text-decoration: none;
        color: $postlistcolor;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    .pre {
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;
      border-top-right-radius: .5em;
      border-bottom-right-radius: .5em;
    }
    .next {
      border-top-left-radius: .5em;
      border-bottom-left-radius: .5em;
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
    }
  }
  .recent-post {
    ul {
      list-style: none;
      li {
        border-radius: 1em;
        box-shadow: 0px 0px 10px $shadowcolor;
        margin: 2rem 0 3rem;
        padding: 1rem .5rem;
        a {
          text-decoration: none;
          color: $titlecolor;
          text-shadow: 2px 2px 10px grey;
          font-size: 1.5rem;
          letter-spacing: .2rem;
          line-height: 1.7rem;
          margin: 1rem 1.5rem .4rem 1rem;
          display: inline-block;
        }
        .post-date {
          font-size: .7rem;
          color: $lowkeyc;
          text-shadow: 2px 2px 10px grey;
          margin: 0 0 .3rem 1.2rem;
        }
        .excerpt {
          padding: 3% .6rem 5% 1.1rem;
          font-size: .9rem;
          line-height: 1.5rem;
          letter-spacing: .1rem;
          color: $contentcolor;
          .highlight {
            padding-right: 3%;
            pre {
              overflow: hidden;
            }
          }
        }
      }
    }
  }
  .post-list {
    text-align: center;
    padding: 0 5%;
    .post-year {
      font-size: 2rem;
      color: $lowkeyc;
      border-radius: 0.9rem;
      margin: 2rem auto 1rem;
      padding: 3% 3% 2%;
      display: inline-block;
      box-shadow: 0 0 5px $shadowcolor;      
    }
    li {
      list-style: none;
      background-color: $postlistbgc;
      margin: 1rem auto 1.5rem;
      border-radius: 30px;
      padding: 3%;
      position: relative;
      span {
        font-size: .5rem;
        color: $postlistcolor;
        position: absolute;
        bottom: 36%;
        left: .5rem;
      }
      a {
        text-decoration: none;
        color: $postlistcolor;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
  .categories, .tags {
    text-align: center;
    .cat-list, .tag-list {
      margin: 2rem auto;
      p {
        display: inline-block;
        background-color: $listbgc;
        border-radius: .7rem;
        font-size: 1rem;
        margin: .5rem;
        padding: .5rem;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        a {
          text-decoration: none;
          color: $listcolor;
          text-transform: uppercase;
          letter-spacing: .1rem;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
      }
      p:hover {
        background-color: $listcolor;
        a {
          color: $listbgc;
          font-size: 1.3rem;
        }
      }
    }
    .cat-index, .tag-index {
      text-align: center;
      padding: 0 5%;
      margin-bottom: 15%;
      p {
        font-size: 1.5rem;
        color: $lowkeyc;
        margin: 2rem auto 1rem;
        padding: 0 3%;
        display: inline-block;
        border-bottom: 2px solid $lowkeyc;
      }
      li { 
        list-style: none;
        background-color: $listbgc;
        margin: 0 auto 1rem;
        border-radius: 30px;
        padding: 3%;
        position: relative;
        span {
          font-size: .5rem;
          color: $listcolor;
          position: absolute;
          bottom: 36%;
          left: .5rem;
        }
        a {
          text-decoration: none;
          color: $listcolor;
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
  }
  .about {
    text-align: center;
    line-height: 2rem;
    margin: 1rem;
    .cn {
      max-width: 336px;
      letter-spacing: .3rem;
      margin: 1rem auto;
      padding: 1rem 1rem 2rem;
      text-shadow: 2px 2px 10px grey;      
      border-bottom: 2px solid $lowkeyc;
    }
    .en {
      letter-spacing: .1rem;
      padding: 1rem;
      text-shadow: 2px 2px 10px grey;
      span {
        font-style: oblique;
      }
    }
  }
}

@keyframes colorchanging {
  from {color: $transpre;}
  to {color: $transpost;}
}
@-moz-keyframes colorchanging {
  from {color: $transpre;}
  to {color: $transpost;}
}
@-webkit-keyframes colorchanging {
  from {color: $transpre;}
  to {color: $transpost;}
}
@-o-keyframes colorchanging {
  from {color: $transpre;}
  to {color: $transpost;}
}

footer {
  padding: 3% 5%;
  margin-top: 5%;
  min-height: 7rem;
  padding-top: 4rem;
  position: relative;
  box-shadow: 0 0 10px $shadowcolor;
  iframe {
      position: absolute;
      left: 50%;
      bottom: 3.7rem;
      margin-left: -253px;
      background-color: transparent;
      opacity: 0;
      z-index: 3;
    }
  .hide {
    width: 260px;
    height: 32px;
    position: absolute;
    left: 50%;
    bottom: 4.3rem;
    margin-left: -243px;
    z-index: 2;
    i {
      display: block;
      text-shadow: 2px 2px 10px grey;
      text-align: right;
      padding: .5rem;
      animation-name: colorchanging;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-direction:alternate;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-direction:alternate;
      -webkit-animation-name: colorchanging;
      -webkit-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
    }
  }
  .states {
    color: $fontcolor;
    text-align: center;
    a {
      text-decoration: none;
      color: $transpre;
    }
  }
}
@media only screen and (min-width: 20em) {
  header {
    .container {
      padding: .5rem;
      .stnav {
        text-align: center;
        ul {
          li {
            display: inline-block;
            margin: .5rem auto .5rem;
          }
        }
      }
      .social-sites {
        margin-top: .5rem;
      }
    }
  }
}
@media only screen and (min-width: 30em) {
  header {
    .container {
      position: relative;
      padding-bottom: 1%;
      max-height: 14.7rem;
      .stnav {
        ul {
          text-align: center;
          padding-bottom: 1rem;
          li {
            display: inline-block;
            margin: 2rem 1.1rem 0;
            letter-spacing: .1rem;
            text-indent: .1rem;
          }
        }
      }
      .social-sites {
        margin: 1rem auto 0;
        position: absolute;
        top: 0;
        right: 1rem;
        ul {
          li {
            a {
              i {
                font-size: 1.3em;
                margin: 0 .1rem;
              }
            }
          }
        }
      }
    }
  }
  main {
    article {
      .post-title {
        text-align: center;
      }
      .post-date {
        text-align: center;
        margin: 1rem auto 2rem;
      }
      .poe-title, .poe-date, .poe-content {
        margin-left: 2rem;
        text-align: center;
      }
      .post-content {
        margin: 0 10% 0 15%;
      }
    }
    .recent-post {
      ul {
        li {
          margin: 1.6rem 4rem 4rem;
        }
      }
    }
    .post-list {
      .post-year {
        margin: 1.5rem auto 1.5rem;
      }
      li {
        margin: 0 auto 1.3rem;
        max-width: 25rem;
      }
    }
    .categories, .tags {
      .cat-index, .tag-index {
        li {
          margin: 0 auto 1.3rem;
          max-width: 25rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 48em) {
  header {
    .container {
      max-width: 60rem;
      text-align: justify;
      position: relative;
      margin: 0 10%;
      padding: 0;
      .stlogo {
        display: inline-block;
      }
      .stnav {
        position: absolute;
        right: 10%;
        bottom: 15%;
        ul {
          padding-bottom: 0;
          li {
            display: inline-block;
            font-size: 1rem;
            margin: 0 1.3em;
            a {
              color: $fontcolor;
              -webkit-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
            }
            a:hover {
              color: $lowkeyc;
            }
          }
        }
      }
      .social-sites {
        right: -4rem;
        top: 5.3rem;
        ul {
          display: inline-block;
          li {
            a {
              i {
                font-size: 1.2rem;
                margin: 0 .4rem;
              }
            }
          }
        }
      }
    }
  }
  main {
    overflow: hidden;
    article {
      padding: 5% 10%;
      .poe-title, .poe-date, .poe-content {
        text-align: center;
      }
      .post-content {
        margin: 0 10% 0 15%;
      }
    }
    .page-index {
      max-width: 70em;
      span {
        display: inline-block;
        margin: 0 1em;
        padding: .3rem 3%;
        min-width: 15rem;
      }
    }
    .recent-post {
      ul {
        display: block;
        margin: 0 auto;
        max-width: 50rem;
        li {
          border-bottom-left-radius: 1em;
          box-shadow: -2px 2px 3px $shadowcolor;
        }
      }
    }
    .post-list {
      .post-year {
        margin-top: 3.5rem;
        padding: .2em 3% .1em;
      }
      li {
        padding: 1em 3% 1em;
      }
    }
    .categories, .tags {
      .cat-index, .tag-index {
        li {
          padding: 1em 3% 1em;
        }
      }
    }
  }
}

