---
---
/*text-shadow: 2px 2px 10px grey;*/
/*-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;*/

@import "reset";

@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('EOT/SourceCodePro-Regular.eot'),
       url('WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
       url('TTF/SourceCodePro-Regular.ttf') format('truetype');
}

.iconfont{
    font-family:"iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes colorchanging {
  from {color: $transpre;}
  to {color: $transpost;}
}
@-moz-keyframes colorchanging {
  from {color: $transpre;}
  to {color: $transpost;}
}
@-webkit-keyframes colorchanging {
  from {color: $transpre;}
  to {color: $transpost;}
}
@-o-keyframes colorchanging {
  from {color: $transpre;}
  to {color: $transpost;}
}

header {
  .container {
    padding: 3%;
    background-color: $headerbgc;
    color: $basiccolor;
    .stlogo {
      text-align: center;
      a {
        text-decoration: none;
        font-size: 1.3em;
        font-family: 'Source Code Pro';
        color: $basiccolor;
      }
    }
    .stnav {
      ul {
        li {
          list-style: none;
          text-align: center;
          margin: .5em auto;
          a {
            text-decoration: none;
            color: $basiccolor;
          }
        }
      }
    }
    .social-sites {
      ul {
        text-align: center;
        li {
          list-style: none;
          display: inline-block;
          a {
            text-decoration: none;
            i {
              color: $basiccolor;
              margin: 0 0.5em;
              text-rendering: optimizeLegibility;
            }
          }
        }
      }
    }
  }
}

main {
  padding: 3%;
  background-color: $basiccolor;
  article {
    .ptags {
      a {
        text-decoration: none;
        background-color: $indexbgc;
        color: $indexcolor;
        font-size: .8em;
        margin-right: .5em;
        padding: .4em .3em .3em;
      }
    }
    .post-title, .poe-title {
      margin-top: .5em;
      font-size: 1.3rem;
    }
    .post-date, .poe-date {
      font-size: .8rem;
    }
    .post-content {
      margin-top: 1em;
      overflow: auto;
    }
  }
  .page-index {
    text-align: center;
    margin-top: .5em;
    span {
      list-style: none;
      display: inline-block;
      margin: .5em auto 0;
      padding: 0 .5em;
      a {
        text-decoration: none;
        color: $indexcolor;
      }
    }
    .pre {
      border-left: 3px solid $borderc;
      background-color: $indexbgc;
    }
    .next {
      border-right: 3px solid $borderc;
      background-color: $indexbgc;
    }
  }
  #disqus_thread {
    margin: 3rem 3% 0;
  }
  .recent-post {
    ul {
      list-style: none;
      li {
        border-bottom: 1px dashed $borderc;
        margin: 1em 0;
        position: relative;
        a {
          text-decoration: none;
          color: $postlistcolor;
          font-size: 1.3em;
        }
        .excerpt {
          margin-top: .5em;
          font-size: .9rem;
          color: $contentcolor;
        }
        .ptags {
          padding-bottom: .3em;
          a {
            text-decoration: none;
            background-color: $indexbgc;
            color: $indexcolor;
            font-size: .6em;
            margin-right: .5em;
            padding: .4em .3em .3em;
          }
        }
        .post-date {
          font-size: .7rem;
          color: $datecolor;
          position: absolute;
          bottom: .3em;
          right: 0;
        }
      }
    }
  }
  .post-list {
    padding: 0 3%;
    .post-year {
      text-align: right;
      font-size: 1.5em;
      color: $datecolor;
      margin: .5em auto;
      border-bottom: 1px dashed $borderc; 
    }
    li {
      list-style: none;
      text-align: left;
      span {
        font-size: .5rem;
        color: $datecolor;
      }
      a {
        text-decoration: none;
        color: $postlistcolor;
      }
    }
  }
  .categories, .tags {
    text-align: center;
    padding: 0 3%;
    .cat-list, .tag-list {
      margin-top: 1em;
      padding-bottom: .3em;
      a {
        text-decoration: none;
        background-color: $indexbgc;
        color: $indexcolor;
        font-size: .8em;
        margin-right: .5em;
        padding: .4em .3em .3em;
      }
    }
    .cat-index, .tag-index {
      p {
        text-align: right;
        font-size: 1.3rem;
        color: $titlecolor;
        margin: 2rem auto 1rem;
        border-bottom: 1px dashed $borderc;
      }
      li { 
        list-style: none;
        text-align: left;
        span {
          font-size: .5rem;
          color: $datecolor;
        }
        a {
          text-decoration: none;
          color: $postlistcolor;
        }
      }
    }
  }
  .about {
    text-align: center;
    line-height: 1.5em;
    margin-top: 2em;
    .cn {
      letter-spacing: .3rem;
      padding-bottom: 2em;    
      border-bottom: 1px dashed $lowkeyc;
    }
    .en {
      padding-top: 2em;
      font-family: 'Source Code Pro';
      span {
        font-style: oblique;
      }
    }
  }
}

footer {
  padding: 1.7em 3% .2em;
  background-color: $footerbgc;
  position: relative;
  iframe {
      position: absolute;
      left: 50%;
      bottom: 3.7rem;
      margin-left: -253px;
      background-color: transparent;
      opacity: 0;
      z-index: 3;
    }
  .hide {
    width: 260px;
    height: 32px;
    position: absolute;
    left: 50%;
    bottom: 4.3rem;
    margin-left: -243px;
    z-index: 2;
    i {
      display: block;
      text-align: right;
      padding: .5rem;
      color: $footerlink;
    }
  }
  .states {
    color: $footertext;
    text-align: center;
    a {
      text-decoration: none;
      color: $footerlink;
    }
  }
}
@media only screen and (min-width: 20em) {
  header {
    .container {
      padding: 0;
      position: relative;
      background-color: $headerbgc;
      .stlogo {
        text-align: left;
        padding: 1em 0 1.5em .5em;
        a {
          text-decoration: none;
          font-family: 'Source Code Pro';
          color: $headerfont;
          font-weight: 600;
        }
      }
      .stnav {
        text-align: right;
        background-color: $headerbgc;
        position: absolute;
        right: 0;
        top: 3rem;
        padding-right: .5em;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        border: 3px solid $mainbgc;
        border-right: 0 solid $mainbgc;
        ul {
          text-align: right;
          li {
            a {
              color: $basiccolor;
              font-size: .8rem;
            }  
            display: inline-block;
            margin: .5em;
          }
        }
      }
      .social-sites {
        ul {
          position: absolute;
          right: .8em;
          top: .8em;
          li a i {
            margin: 0 .1em;
            color: $socialcolor;
          }
        }
      }
    }
  }
  main {
    padding: 3em 3%;
    background-color: $mainbgc;
    min-height: 40em;
    color: $contentcolor;
    .categories, .tags {
      .cat-list, .tag-list {
        a {
          border-radius: .7em;
          display: inline-block;
          margin-bottom: 1em;
        }
      }
    }
    article {
      .ptags a {
        border-radius: .5em;
      }
      .post-title {
        color: $postlistcolor;
      }
      .post-content {
        letter-spacing: .2em;
        line-height: 1.5em;
      }
    }
    .page-index {
      border-top: 1px dashed $borderc;
      margin-top: 1em;
      padding: 1em 0 1.3em;
      span {
        border-radius: .5em;
      }
      border-bottom: 1px dashed $borderc;
    }
  }
  footer {
    padding-top: 4em;
    padding-bottom: 1.7em;
    a {
      font-family: 'Source Code Pro';
    }
  }
}
@media only screen and (min-width: 30em) {
  header {
    .container {
      .stlogo {
        display: inline-block;
        padding: .3em 0 .4em 2em;
      }
      .stnav {
        top: 1em;
        padding-right: 1.5em;
      }
      .social-sites {
        ul {
          right: auto;
          left: 3.5em;
          top: 2.4em;
          li a i {
            color: $headerbgc;
            font-size: 1.2em;
          }
        }
      }
    }
  }
  main {
    padding-left: 0;
    article {
      position: relative;
      .ptags {
        position: absolute;
        left: 2em;
        top: 4.5rem;
        a {
          display: inline-block;
          font-size: .7rem;
          padding: .1em .2em;
        }
      }
      .post-title, .poe-title {
        text-align: left;
        display: inline-block;
        padding-left: 2rem;
        padding-right: 1rem;
        margin: 2rem 0 2em;
        color: $postlistcolor;
      }
      .post-date, .poe-date {
        display: inline-block;
        position: absolute;
        right: 1.3em;
        top: 2.5rem;
      }
      .post-content {
        padding: 0 1em 0 2em;
      }
      .poe-content {
        text-align: center;
        letter-spacing: .5em;
        line-height: 2em;
        p {
          margin: 3em;
        }
      }
    }
    #disqus_thread {
      margin: 3rem 1em 0 2em;
    }
    .recent-post {
      ul {
        li {
          margin: 1.6rem 1em 2em 2em;
        }
      }
    }
    .post-list {
      .post-year {
        margin: 1em auto 1em;
      }
      li {
        margin: 0 1em .5em ;
      }
    }
    .categories, .tags {
      .cat-list, .tag-list {
        margin-top: 2em;
        padding-bottom: 0;
        a {
          padding: .1em .3em;
        }
      }
      .cat-index, .tag-index {
        li {
          margin: 0 1em .5em;
        }
      }
    }
    .about {
      padding: 0 1em 0 2em;
      line-height: 2em;
    }
  }
  footer {
    padding-top: 3em;
    iframe {
      bottom: 2.9em;
    }
    .hide {
      bottom: 3.6em;
    }
  }
}

@media only screen and (min-width: 48em) {
  header {
    .container {
    }
  }
  main {
    overflow: hidden;
    padding-bottom: 0rem;
    article {
      padding: 5% 10%;
      .wrap {
        margin: 0 10% 0 15%;
        .poe-title, .poe-date, .poe-content {
          text-align: center;
        }
        .post-content {
          margin: 0;
          padding: 3% 5%;
        }
      }

    }
    #disqus_thread {
      margin: 7rem 15% 0;
    }
    .page-index {
      max-width: 70em;
      span {
        display: inline-block;
        margin: 0 1em;
        padding: .3rem 3%;
        min-width: 15rem;
      }
    }
    .recent-post {
      margin: 0 10%;
      aside {
        text-align: justify;
        .area-name {
          color: $fontcolor;
          box-shadow: 0 0 0 white;
          border-radius: 0;
          font-size: 1.5rem;
          border-bottom: 2px solid #ccc;
          position: relative;
          padding: 0 0 1% 0;
        }
        img {
          max-width: 2rem;
          max-height: 2rem;
          transform: rotate(0deg);
          position: absolute;
          left: 2.5em;
          top: 2.6em;
        }
      }    
      ul {
        display: block;
        margin-left: 10em;
        margin-top: -4em;
        max-width: 50rem;
        li {
          border-bottom-left-radius: 1em;
          box-shadow: -2px 2px 3px $shadowcolor;
        }
      }
    }
    .post-list {
      .post-year {
        margin-top: 3.5rem;
        padding: .2em 3% .1em;
      }
      li {
        padding: 1em 3% 1em;
      }
    }
    .categories, .tags {
      .cat-index, .tag-index {
        li {
          padding: 1em 3% 1em;
        }
      }
    }
  }
}

