---
layout: default
---
<section class="categories">
  <!-- 把categories分类名捕捉为string -->
  {% capture categories %}
    {% for category in site.categories %}
      {{ category | first }}
    {% endfor %}
  {% endcapture %}
  <!-- 将string分化为数组 -->
  {% assign cat = categories | split: ' ' %}
  <!-- 将分类名一一列出 -->
  <div class="cat-list">
    {% for num in (0..site.categories.size) %}
      {% unless forloop.last %}
        {% capture index %}{{ cat[num] }}{% endcapture %}
        <p>{{ cat[num] }}</p>
      {% endunless %}
    {% endfor %}
  </div>
  <!-- 按分类名索引相应文章标题显示出来 -->
  <div class="cat-index" >
    {% for num in (0..site.categories.size) %}  
      {% unless forloop.last %}
        
        <p id="{{ index }}">{{ cat[num] }}</p>
        {% for post in site.categories[index] %}
          <li><span>{{ post.date | date: "%b %d" }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      {% endunless %}   
    {% endfor %}
  </div>
</section>