<header role="banner">
  <div class="container">
    <div class="stlogo">
      <a href="/">
        <img src="/images/stlogo.png" alt="拉木的博客">
      </a>
    </div>
    <nav role="navigation" class="stnav">
      <ul>
        <li><a href="/">主页</a></li>
      	<li><a href="/archives/index.html">文章</a></li>
      	<li><a href="/categories/index.html">分类</a></li>
        <li><a href="/tags/index.html">标签</a></li>
      	<li><a href="/about/index.html">简介</a></li>
      </ul>
    </nav>
    <nav class="social-sites">
      <ul>
        <li>
          <a href="https://github.com/Heepo" target="_blank" title="Visit My Github">
            <i class="iconfont">&#xe601;</i>
          </a>
        </li>
        <li>
          <a href="http://weibo.com/everleu" target="_blank" title="Follow Me on Weibo">
            <i class="iconfont">&#xe600;</i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/Smilenpace" target="_blank" title="Follow Me on Twitter">
            <i class="iconfont">&#xe602;</i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>