/**
 * Prevent iOS text size adjust after orientation change
 * without disabling user zoom.
 */

//variables
$headerbgc: #4b606f;
$footerbgc: #4b606f;
$basiccolor: #E7E9DE;
$borderc: #4b606f;
$indexbgc: #A8A8A8;
$indexcolor: #E7E9DE;
$headerfont: #E7E9DE;
$socialcolor: #E7E9DE;
$mainbgc: #E7E9DE;
$datecolor: #A8A8A8;
$fontcolor: #344f2c;
$textcolor: black;
$lowkeyc: #A8A8A8;
$footertext: #000000;
$footerlink: #E7E9DE;
$shadowcolor: #cccccc;
$titlecolor: #A8A8A8;
$contentcolor: #7A7A7A;
$postlistcolor: #ac3e40;
$postNameColor: #ac3e40;
$postDateColor: #a8a8a8;
$articleColor: #4b606f;
$aboutCnColor: #4b606f;
$aboutEnColor: #4b606f;
$postlistbgc: #ac3e40;
$listbgc: #ac3e40;
$listcolor: white;
$commentcolor: #DBE2D3;
$transpost: #A42F11;
$transpre: #4b606f;

body {
  font-family: "Gill Sans", "Hannotate SC", "Hiragino Sans GB", Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", Helvetica, "Droid Sans Fallback", "Heiti SC", "Microsoft YaHei", Simsun, sans-self;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, em, img,
small, strong, ul, li, article, aside, footer, header, nav,
section, audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/**
 * HTML5 display definitions
 * =========================================================================
 */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}