/**
 * Prevent iOS text size adjust after orientation change
 * without disabling user zoom.
 */
body {
  font-family: "Hiragino Sans GB", Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", Helvetica, "Droid Sans Fallback", "Heiti SC", "Microsoft YaHei", Simsun, sans-self;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, 
small, strong, ul, li, article, aside, footer, header, nav,
section, audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/**
 * HTML5 display definitions
 * =========================================================================
 */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}