---
layout: default
---
<article>
  <h1 class="poe-title">{{ page.title }}</h1>
  <p class="poe-date">{{ page.date | date: "%F"}}</p>
  <section class="poe-content">
    {{ content }}
  </section>
</article>
<section class="page-index">
{% if page.previous.url != nil %}
  <span class="pre">
    <a href="{{page.previous.url}}">{{page.previous.title}}</a>
  </span>
{% endif %}
{% if page.next.url != nil %}
  <span class="next">
    <a href="{{page.next.url}}">{{page.next.title}}</a>
  </span>
{% endif %}
</section>