---
layout: default
---


<article>
  <div class="wrap">
  <aside class="ptags">
    {% for tag in page.tags %}
      <a href="/tags/#{{ tag }}">
        {{ tag }}
        <sup>{{ site.tags[tag].size }}</sup>
      </a>
    {% endfor %}
    </aside>
    <h1 class="poe-title">{{ page.title }}</h1>
    <p class="poe-date">{{ page.date | date: "%F"}}</p>
    <section class="poe-content">
      {{ content }}
    </section>
  </div>
</article>
<section class="page-index">
{% if page.previous.url != nil %}
  <span class="pre">
    <a href="{{page.previous.url}}">{{page.previous.title}}</a>
  </span>
{% endif %}
{% if page.next.url != nil %}
  <span class="next">
    <a href="{{page.next.url}}">{{page.next.title}}</a>
  </span>
{% endif %}
</section>
<!-- Disqus -->
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'lamosblog';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
 <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>